.entry-title{
    font-size: 1.3em;
    max-lines: 1;
    font-weight: 300;
    margin-bottom: 10px !important;
}

.entry-description{
    max-lines: 2;
    font-weight: 200;
    min-height: 50px !important;
    height: 50px !important;
    font-size: 1em;
}

.entry-licence{
    margin-top: 20px;
    font-size: 0.9em;
    max-lines: 1;
    font-weight: 200;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

content {
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a.disabled {
    pointer-events: none;
    cursor: default;
 }