<div class="row">
    <div class="col s4" *ngFor="let entry of entries">
        <div class="card">
            <div class="card-image">
              <img src="{{entry.entry_image}}">
            </div>
            <div class="card-content content">
                <p class="entry-title {{env.colorTextPrimary}} truncate">{{entry.entry_name}}</p>
              <p class="entry-description {{env.colorTextSecondary}}">{{entry.entry_description | umWordLimit:6}}</p>
              <p class="entry-licence {{env.colorTextSubSecondary}}">Licence: {{entry.entry_licence}}</p>
            </div>
            <div class="card-action">
              <a class="{{env.colorTextAcent}} open-content" (click)="navigate(entry)">OPEN</a>
            </div>
          </div>
    </div>

    <div class="center empty-state-view grey-text z-depth-1" *ngIf="!entries">
        <i class="material-icons  large extra">library_books</i>
        <p class="title-label empty grey-text">No libraries Found</p>
      </div>
  </div>
