<div class="row white" (close)="ngOnDestroy()">

  <div class="row">

    <form class="col s12">

      <div class="col s12 l3 m3 {{class_entry_options}} default-content-padding-right default-margin-top"
        *ngIf="categories[0]">
        <mz-select-container *ngFor="let categoryList of categories">
          <select mz-select [formControl]="umFilterForm.controls['category']" id="category-select"
            [label]="[label_reading_level]">
            <option *ngFor="let category of categoryList" value="{{category.contentCategoryUid}}">
              {{category.categoryName}}
            </option>
          </select>
        </mz-select-container>
      </div>

      <div class="col s12 l3 m3 {{class_entry_options}} default-content-padding-right default-margin-top"
        *ngIf="languages[0]">
        <mz-select-container>
          <select mz-select [formControl]="umFilterForm.controls['language']" id="language-select"
            [label]="[label_language_options]">
            <option *ngFor="let language of languages" value="{{language.langUid}}">{{language.langName}}</option>
          </select>
        </mz-select-container>
      </div>

    </form>


  </div>
  <div class="row data-list">
    <ul infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="scrollThrottle"
      (scrolled)="onScrollDown()" [fromRoot]="false" *ngIf="entryList"
      class="collection default-padding-top {{class_entry_collection}}">
      <li class="open-content default-padding-top collection-item avatar" *ngFor="let entry of entryList"
        (click)="handleContentEntryClicked(entry)">
        <div class="row">
          <div class="col s4 l2 {{class_entry_thumbnail}}">
            <img src="{{entry.thumbnailUrl}}" alt="" class="responsive-img entry-image">
          </div>
          <div class="col s8 l10 {{class_entry_summary}}">
            <p class="entry-title {{env.colorTextPrimary}}">{{entry.title}}</p>
            <p class="entry-description {{env.colorTextSecondary}}">{{entry.description}}</p>
            <p class="entry-licence {{env.colorTextSubSecondary}}">
              <span i18n="@@entry_details_license">License:</span>
              <span> {{getLicenceType(entry.licenseType)}}</span>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="center empty-state-view grey-text" *ngIf="!entryList">
    <i class="material-icons  large extra">library_books</i>
    <p class="title-label empty grey-text">No libraries Found</p>
  </div>
</div>
