<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.toughra.ustadmobile">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- To obtain wifi lock -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
    Multicast lock required for use of JmDns to subsitute for 'normal' service discovery on
    older devices where built-in service discovery is buggy.
    -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application android:supportsRtl="true">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>

        <activity
            android:name=".UstadMobileActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="@string/app_name" />
        <activity
            android:name="com.ustadmobile.port.android.view.LoginActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="@string/login" />
        <activity
            android:name="com.ustadmobile.port.android.view.CatalogActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/catalog"
            android:theme="@style/Theme.UstadTheme" />

        <service android:name="com.ustadmobile.port.android.netwokmanager.NetworkServiceAndroid" />

        <activity
            android:name="com.ustadmobile.port.android.view.ContainerActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ustadmobile.port.android.view.XapiPackageActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:theme="@style/Theme.UstadTheme"
            android:label="" />
        <activity
            android:name="com.ustadmobile.port.android.view.UserSettingsActivity"
            android:label="@string/settings"
            android:theme="@style/Theme.UstadTheme" />
        <activity
            android:name="com.ustadmobile.port.android.view.SettingsDataSyncListActivity"
            android:label="Sync History"
            android:theme="@style/Theme.UstadTheme" />
        <activity
            android:name="com.ustadmobile.port.android.view.BasePointActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
        <activity
            android:name="com.ustadmobile.port.android.view.AttendanceActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ustadmobile.port.android.view.ClassManagementActivity"
            android:theme="@style/Theme.UstadTheme" />
        <activity
            android:name="com.ustadmobile.port.android.view.EnrollStudentActivity"
            android:theme="@style/Theme.UstadTheme" />
        <activity android:name="com.ustadmobile.port.android.view.ClassManagementActivity2" />
        <activity
            android:name="com.ustadmobile.port.android.view.AboutActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
        <activity
            android:name="com.ustadmobile.port.android.view.CatalogEntryActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
        <activity
            android:name="com.ustadmobile.port.android.view.SettingsDataUsageActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
        <activity
            android:name="com.ustadmobile.port.android.view.UserSettingsActivity2"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/settings"
            android:theme="@style/Theme.UstadTheme" />

        <service
            android:name="com.evernote.android.job.gcm.PlatformGcmService"
            tools:node="remove" />
    </application>

</manifest>