<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.toughra.ustadmobile">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Required for BLE peer-to-peer GATT server -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Required for saving files to external SD -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- Required for saving files to external SD -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Used for content editing when a user wants to add pictures/video from camera -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Required for peer-to-peer connecting using WiFi direct -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Required to use BLE scanning for peer devices -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- Required for voice notes on Sale Item for Goldozi -->

    <!-- Location permissions required for BLE scanning and WiFi scanning -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- To obtain wifi lock to avoid wifi powering down during download -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- To show download progress indicator -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:supportsRtl="true"
        android:theme="@style/Theme.UstadTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.ustadmobile.port.android.view.UserProfileActivity">

        </activity>

        <activity
            android:name="com.ustadmobile.port.android.view.OnBoardingActivity"
            android:noHistory="true"
            android:theme="@style/ThemeOnboarding" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>

        <activity
            android:name="com.ustadmobile.port.android.view.EpubContentActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="" />
        <activity
            android:name="com.ustadmobile.port.android.view.XapiPackageContentActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="" />
        <activity
            android:name="com.ustadmobile.port.android.view.AboutActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
        <activity
            android:name="com.ustadmobile.port.android.view.ScormPackageActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="" />
        <activity
            android:name="com.ustadmobile.port.android.view.H5PContentActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="" />
        <activity
            android:name="com.ustadmobile.port.android.view.WebChunkActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="" />
        <activity
            android:name="com.ustadmobile.port.android.view.VideoPlayerActivity"
            android:configChanges="keyboardHidden|keyboard|screenSize"
            android:label="" />
        <activity
            android:name="com.ustadmobile.port.android.view.HomeActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="" />
        <activity
            android:name="com.ustadmobile.port.android.view.ContentEntryListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="" />
        <activity
            android:name="com.ustadmobile.port.android.view.ContentEntryDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="" />
        <activity
            android:name="com.ustadmobile.port.android.view.LoginActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/login" />
        <activity
            android:name="com.ustadmobile.port.android.view.Register2Activity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/register"
            android:theme="@style/Theme.UstadTheme"
            />

        <!--Goldozi-->
        <activity android:name="com.ustadmobile.port.android.view.SaleDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/register"
            android:theme="@style/Theme.UstadTheme"/>
        <activity android:name="com.ustadmobile.port.android.view.SaleItemDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/register"
            android:theme="@style/Theme.UstadTheme"/>
        <activity android:name="com.ustadmobile.port.android.view.SelectProducerActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/register"
            android:theme="@style/Theme.UstadTheme"/>
        <activity android:name="com.ustadmobile.port.android.view.SelectSaleProductActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/register"
            android:theme="@style/Theme.UstadTheme"/>
        <activity android:name="com.ustadmobile.port.android.view.SalePaymentDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/register"
            android:theme="@style/Theme.UstadTheme"/>
        <activity android:name="com.ustadmobile.port.android.view.ChangePasswordActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/register"
            android:theme="@style/Theme.UstadTheme"/>
        <activity android:name="com.ustadmobile.port.android.view.SaleProductDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/register"
            android:theme="@style/Theme.UstadTheme"/>
        <activity android:name="com.ustadmobile.port.android.view.SaleProductCategoryListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/register"
            android:theme="@style/Theme.UstadTheme"/>
        <activity android:name="com.ustadmobile.port.android.view.AddSaleProductToSaleCategoryActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/register"
            android:theme="@style/Theme.UstadTheme"/>
        <activity android:name="com.ustadmobile.port.android.view.SaleListSearchActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/register"
            android:theme="@style/Theme.UstadTheme"/>
        <activity android:name="com.ustadmobile.port.android.view.SaleDetailSignatureActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/register"
            android:theme="@style/Theme.UstadTheme"/>

        <activity android:name="com.ustadmobile.port.android.view.ReportOptionsDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/register"
            android:theme="@style/Theme.UstadTheme"/>
        <activity android:name="com.ustadmobile.port.android.view.ReportDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/register"
            android:theme="@style/Theme.UstadTheme"/>

        <activity android:name="com.ustadmobile.port.android.view.PersonWithSaleInfoListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/register"
            android:theme="@style/Theme.UstadTheme"/>
        <activity android:name="com.ustadmobile.port.android.view.PersonWithSaleInfoDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/register"
            android:theme="@style/Theme.UstadTheme"/>
        <activity android:name="com.ustadmobile.port.android.view.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/register"
            android:theme="@style/Theme.UstadTheme"/>
        <activity android:name="com.ustadmobile.port.android.view.PeopleListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/users"
            android:theme="@style/Theme.UstadTheme"/>
        <activity
            android:name="com.ustadmobile.port.android.view.Login2Activity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/login" />
        <activity
            android:name="com.ustadmobile.port.android.view.CustomerDetailDialogFragment"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/login" />
        <activity
            android:name="com.ustadmobile.port.android.view.SelectPersonDialogFragment"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/login" />


        <!-- End of Goldozi-->

        <activity android:name="com.ustadmobile.port.android.view.ContentEditorActivity" />
        <activity
            android:name="com.ustadmobile.port.android.view.XapiReportOptionsActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" />
        <activity
            android:name="com.ustadmobile.port.android.view.XapiReportDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" />
        <service
            android:name="com.ustadmobile.port.android.netwokmanager.UmAppDatabaseSyncService"
            android:enabled="true"/>
        <activity android:name="com.ustadmobile.port.android.view.ContentEntryImportLinkActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <!-- IRC -->
        <activity android:name="com.ustadmobile.port.android.view.BasePointActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.DownloadDialogFragment"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.ClazzDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.ClazzLogDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.PersonDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.PersonEditActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.PersonDetailEnrollClazzActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.ClazzDetailEnrollStudentActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.SELSelectStudentActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.SELSelectConsentActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.SELEditActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.SELQuestionActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.SELQuestionEditActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.SELRecognitionActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.ClazzEditActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.AddScheduleDialogFragment"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.ClazzActivityEditActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.AddActivityChangeDialogFragment"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.ReportEditActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.SelectMultipleTreeDialogFragment"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.ReportSelectionActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.SelectClazzesDialogFragment"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.SelectAttendanceThresholdsDialogFragment"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.SelectTwoDatesDialogFragment"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.ReportOverallAttendanceActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.ReportNumberOfDaysClassesOpenActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.ReportAttendanceGroupedByThresholdsActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.BulkUploadMasterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.SELQuestionSetsActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.AddQuestionSetDialogFragment"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.SELQuestionSetDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.PersonPictureDialogFragment"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.SELQuestionDetail2Activity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.AddQuestionOptionDialogFragment"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.ReportAtRiskStudentsActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.CallPersonRelatedDialogFragment"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.ReportMasterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.ReportSELActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.PersonListSearchActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.ReportSelectionFragment"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.HolidayCalendarListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.HolidayCalendarDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.RoleListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.RoleDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.GroupListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.GroupDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.RoleAssignmentDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.RoleAssignmentListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.LocationListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.LocationDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.AuditLogSelectionActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.AuditLogListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.AddDateRangeDialogFragment"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.SelectClazzFeaturesDialogFragment"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.PersonAuthDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.SelectPeopleDialogFragment"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.CustomFieldListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.CustomFieldDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity
            android:name="com.ustadmobile.port.android.view.AddCustomFieldOptionDialogFragment"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity android:name="com.ustadmobile.port.android.view.RecordDropoutDialogFragment"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />



    </application>

</manifest>