<div data-um-widget="fill-the-blanks" data-um-retry="false"  class="um-row um-fit-screen default-margin-top default-theme question default-padding">

    <div class="um-row um-fit-screen um-align-end show-element question-action-holder">
        <span class="float-right"><i class="material-icons action-delete">delete</i></span>
        <span class="float-right"><i class="material-icons action-cut">content_cut</i></span>
    </div>

    <div class="question-body um-fit-screen dont-remove default-theme no-padding" data-um-preview="main"></div>

    <div class="question-answer um-fit-screen hide-element default-theme no-padding" data-um-preview="support">
        <div class="um-fit-screen default-theme no-padding fill-answer-inputs">
            <div class="input-group fill-bl-group">
                <input type="text" class="um-fill-answer fill-the-blanks-input" placeholder="Type here">
                <button class="float-right fill-the-blanks-check default-margin-top extra-btn" type="button"></button>
            </div>
        </div>
    </div>

    <div class="fill-blanks um-fit-screen dont-remove default-theme no-padding">
        <div class="question-choice-body dont-remove"></div>
        <div class="question-choice-feedback-correct dont-remove" data-um-edit-only="true"></div>
        <div class="question-choice-feedback-wrong dont-remove" data-um-edit-only="true"></div>
    </div>


    <div class="question-feedback-container um-fit-screen hide-element default-theme no-padding" data-um-preview="alert">
        <div class="um-alert question-feedback-container-text" role="alert" data-um-preview="alert"></div>
    </div>


    <div class="question-retry-holder um-fit-screen default-theme no-padding">
        <div class="question-retry-option select-option default-margin-bottom  default-theme no-padding"></div>

        <div class="question-retry-btn um-fit-screen default-theme default-margin-top no-padding hide-element"></div>
    </div>

</div>