<div data-um-widget="multi-choice" data-um-retry="false" class="um-row um-fit-screen default-margin-top default-theme question default-padding">

    <div class="um-row um-fit-screen um-align-end show-element question-action-holder">
        <span class="float-right"><i class="material-icons action-delete">delete</i></span>
        <span class="float-right"><i class="material-icons action-cut">content_cut</i></span>
    </div>

    <div class="question-body dont-remove um-fit-screen multi-choice default-theme no-padding" data-um-preview="main"></div>

    <div class="question-choice default-theme um-fit-screen no-padding" data-um-correct="false" data-um-preview="support">
        <div class="choice-action"><span class="float-right"><i class="material-icons action-delete-inner">delete</i></span></div>
        <div class="question-choice-body dont-remove"></div>
        <div class="question-choice-feedback dont-remove show-element"></div>
        <div class="question-choice-answer select-option "></div>
    </div>


    <div class="question-feedback-container um-fit-screen default-theme no-padding hide-element" data-um-preview="alert">
        <div class="um-alert question-feedback-container-text" role="alert" data-um-preview="alert"></div>
    </div>


    <div class="question-retry-holder um-fit-screen default-theme no-padding">

        <div class="question-retry-option select-option default-margin-bottom default-theme no-padding"></div>

        <div class="question-retry-btn  default-theme no-padding default-margin-top hide-element"></div>
    </div>


    <div class="question-add-choice um-fit-screen  show-element default-theme no-padding default-padding-top default-margin-bottom">
    </div>
</div>