<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
<Appenders>
    <Console name="stdout">
        <PatternLayout pattern="%d [%t] %-5level: %msg%n%throwable" />
        <MarkerFilter onMatch="ACCEPT" onMisMatch="DENY" marker="FLOW" />
    </Console>
    <RollingFile name="RollingFileAppender"
        fileName="scraper"
        filePattern="scraper-%i.log.gz">
        <PatternLayout pattern="%d [%t] %-5level: %msg%n%throwable" />
        <Policies>
            <CronTriggeringPolicy schedule="0 0 0 * * ?" />
            <SizeBasedTriggeringPolicy size="25 MB" />
        </Policies>
    </RollingFile>
</Appenders>
<Loggers>
    <Logger name="RollingFileLogger" level="TRACE" additivity="false">
        <AppenderRef ref="RollingFileAppender" />
    </Logger>
</Loggers>
</Configuration>