.entry-title {
    font-size: 1.8em;
    font-weight: 800;
}

.entry-content {
    font-size: 1.1em;
    font-weight: 400;
}
.entry-creator{
    font-size: 0.8em;
    font-weight: 500;
    margin-top: 1px !important;
    margin-bottom: 20px !important;
}

.img-margin-top{
    margin-top: 10% !important;
}

label{
    font-size: .8em;
}

.thumbnail-wrapper-right{
    padding-right: 4% !important;
}