<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ustadmobile.port.sharedse">



    <application android:supportsRtl="true"
        android:usesCleartextTraffic="true">

        <service android:name="com.ustadmobile.core.networkmanager.DownloadNotificationService"
            android:enabled="true"/>

    </application>
</manifest>