*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* The MUI showcase template uses *::-webkit-scrollbar. Some elements need to be
 * exempted from this behavior, so this has been changed to use a not selector.
 */
:not(.scrollbarAlwaysVisible)::-webkit-scrollbar {
    display: none;
}

/* Required to make sure that the Quill editor tooltip appears above any buttons */
.ql-snow .ql-tooltip {
    z-index: 1000;
}
