<div  class="row white default-padding-top default-content-padding-bottom default-content-padding-right default-content-padding-left">
    
  <div *ngIf="showIframe && safeUrl" class="row">
      <div class="resp-container">
          <iframe allowTransparency="true" background="transparent" class="resp-iframe" [src]='safeUrl' allowfullscreen></iframe>
        </div>
  </div>

  <div *ngIf="!safeUrl" class="center empty-state-view grey-text">
    <img class="responsive-img" width="100" src="assets/images/app_loader.svg"> 
  </div>
  </div>

  