<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.ustadmobile.port.android.App"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher_maktab2"
        android:roundIcon="@drawable/ic_launcher_maktab2"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:theme="@style/UmTheme.App"
        android:supportsRtl="true"
        tools:replace="android:allowBackup"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        >

        <!--
         The path to the asset containing the app runtime configuration.
        -->
        <meta-data android:name="com.ustadmobile.core.appconfig"
            android:value="com/ustadmobile/core/appconfig.properties"/>

        <activity
            android:name="com.ustadmobile.port.android.view.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
