<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.ustadmobile.port.android.App"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher_icon"
        android:roundIcon="@drawable/ic_launcher_icon"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:theme="@style/UmTheme.App"
        android:supportsRtl="true"
        tools:replace="android:allowBackup"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        >

        <!--
         The path to the asset containing the app runtime configuration.
        -->
        <meta-data android:name="com.ustadmobile.core.appconfig"
            android:value="com/ustadmobile/core/appconfig.properties"/>

        <activity
            android:name="com.ustadmobile.port.android.view.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        PanicKit responder that will respond to a panic trigger app e.g. Ripple
        -->
        <activity
            android:exported="true"
            android:name="com.ustadmobile.port.android.panic.PanicResponderActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay"
            >

            <!-- this can never have launchMode singleTask or singleInstance! -->
            <intent-filter>
                <action android:name="info.guardianproject.panic.action.TRIGGER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Exit Activity used by PanicResponder to force exit and clear activity stack -->
        <activity
            android:name="com.ustadmobile.port.android.panic.ExitActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay"
            />

        <!--
        Shell activity that can be launched by PanicKit trigger apps (e.g. Ripple) to
        bring the user to the panic response configuration screen.
        -->
        <activity
            android:exported="true"
            android:name="com.ustadmobile.port.android.panic.PanicConfigActivity">

            <intent-filter>
                <action android:name="info.guardianproject.panic.action.CONNECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:exported="true"
            android:name="com.ustadmobile.port.android.panic.NotepadActivity"
            android:label="Notepad"
            android:icon="@drawable/ic_baseline_edit_24"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:enabled="false">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>



    </application>

</manifest>
