<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.toughra.ustadmobile.launcher">

    <application
        android:name="com.ustadmobile.port.android.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_icon"
        android:roundIcon="@drawable/ic_launcher_icon"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.UstadTheme"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!--
         The path to the asset containing the app runtime configuration.
        -->
        <meta-data android:name="com.ustadmobile.core.appconfig"
            android:value="/com/ustadmobile/core/appconfig.properties"/>

        <activity
            android:name="com.ustadmobile.port.android.view.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
