
/* Shown at the top of the page */
#decotop {
    /*background-image:url('../res/umres/banne1.png'); */
    background-repeat:repeat-x;
    margin-top:-8px;
    display: none;
}

/* Shown at the bottom */
#decobottom {
    /*background-image:url('../res/umres/banne1.png'); */
    background-repeat:repeat-x;
    margin-top:0px;
    margin-bottom:0px;
    display: none;
}

#logincontainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

#Login {
    width: 100%;
    text-align: center;
}

#ustad_user_button{
    width: auto;
}

/*
 * Download all button on OPDS acquisition view
 */
.um-download-all-btn {
    display: block !important;
    margin: 5px;
}

/*
 * Download progress bar
 */
.um-progress-bar {
    display: block;
    width: 100%;
    padding: 5px;
}

/*
 * Checkbox that indicates when an OPDS entry has been acquired
 */

.umjs_opdsbrowser_status_acquired .umjs_opdsbrowser_entrystatusarea{
    background-image: url("../img/check-icon.png");
    background-repeat: no-repeat;
    background-position: center;
}