<header>
  <div class="navbar-fixed">
    <mz-navbar navbarClass="top-nav-height  z-depth-2 {{env.colorPrimary}}">
      <p class="brand-logo {{class_toolbar_title}}">
        <span (click)="goBack()" class="open-content"><i
            class="material-icons {{class_icon_toolbar}}">{{class_toolbar_arrow}}</i></span>
        <span class="truncate">{{toolBarTitle}}</span></p>
      <p class="show-on-small  open-content drawer-menu {{class_drawer_menu}}">
        <a mz-button [flat]=true id="um-drawer" (click)="dropwdown.open()">
          <i class="material-icons white-text">menu</i>
        </a>
      </p>

    </mz-navbar>
  </div>


  <!-- side nav starts here-->

  <mz-dropdown #dropwdown [id]="'dropdown-demo'" [align]="'left'" [belowOrigin]="true" [constrainWidth]="false"
    [dropdownButtonId]="'um-drawer'" [gutter]="true" [hover]="true" [inDuration]="300" [outDuration]="300"
    [stopPropagation]="true">

    <li><a (click)="handleSideMenuSelected(routes.entryList)"><span i18n="@@libraries">Libraries</span></a></li>
    <li *ngIf="showReports"> <a (click)="handleSideMenuSelected(routes.reportDashboard)"> <span i18n="@@reports">Reports</span></a></li>
    <li > <a (click)="handleClickPersonIcon()"> <span i18n="@@profile">Profile</span></a></li>
    <li > <a (click)="bottomSheetModal.openModal()"> <span i18n="@@language">Language</span></a></li>
  </mz-dropdown> 


  <mz-modal #bottomSheetModal [fixedFooter]="false" [bottomSheet]="false" [options]="modalOptions">
    <mz-modal-content class="black">
      <div class="collection margin-modal">
        <a (click)="handleLanguageSelected(language, bottomSheetModal)" class="collection-item" *ngFor="let language of supportedLanguages">{{language}}</a>
      </div>
    </mz-modal-content>
  </mz-modal>


  <mz-sidenav #sidenav [fixed]=true [edge]="'left'" class="show-on-medium-and-up">

    <mz-sidenav-header>
      <div class="user-view" style="background: url('assets/images/top_header_bg.jpg')">
        <i class="material-icons white-text {{class_open_profile}} open-profile" (click)="handleClickPersonIcon()">open_in_new</i>
        <img class="circle avatar" [src]="userProfile">
        <div class="white-text name">{{userName}}</div>
        <div class="white-text email">{{userEmail}}</div>
      </div>
    </mz-sidenav-header>

    <mz-sidenav-link [active]="activeState[0]">
      <a class="collapsible-header" id="libs" (click)="handleSideMenuSelected(routes.entryList)"><span
          i18n="@@libraries">Libraries</span>
        <i class="material-icons {{class_icon_position}}">library_books</i>
      </a>
    </mz-sidenav-link>

    <mz-sidenav-link *ngIf="showReports" [active]="activeState[1]">
      <a class="collapsible-header" (click)="handleSideMenuSelected(routes.reportDashboard)"> <span i18n="@@reports">Reports</span>
        <i class="material-icons {{class_icon_position}}">pie_chart</i>
      </a>
    </mz-sidenav-link>
    <mz-sidenav-subheader></mz-sidenav-subheader>
    <mz-sidenav-divider></mz-sidenav-divider>

    <mz-sidenav-link>
        <div class="row">
          <form *ngIf="supportedLanguages" class="col s12">
              <div class="row default-content-padding-left ">
                  <label class="language {{env.colorPrimaryText}}" i18n="@@language">Languages</label>
                  <mz-select-container [inline]=true *ngIf="supportedLanguages">
                    <select mz-select [formControl]="umFormLanguage.controls['language']" id="options-language">
                      <option *ngFor="let language of supportedLanguages" value="{{language}}">{{language}}</option>
                    </select>
                  </mz-select-container>
                </div>
          </form>
        </div>
      </mz-sidenav-link>

  </mz-sidenav>

  <!-- side nav ends here-->

</header>

<!-- Content section starts here-->
<main>
  <div class="content-app-wrapper">
    <router-outlet></router-outlet>
  </div>
</main>
<!-- Content section ends here-->
