  .icon-left-spacing{
    padding-left: 30px !important;
  }

  .icon-right-spacing{
    padding-right: 30px !important;
  }


  .brand-logo{
    min-width: 600px;
    margin-left: 1% !important;
    margin-right: 1% !important;
    font-size: 1.5em !important;
  }

  .drawer-menu-rtl{
    margin: 2% 0% 0 2% !important;

  }

  .drawer-menu-ltr{
    margin: 2% 1% 0 2% !important;
  }

  .language{
    margin: 4% !important;
  }

  .open-profile{
    cursor: pointer; 
  }
  .collection-item{
    border: 0px solid white; 
    cursor: pointer;
  }

  .margin-modal{
    border: 0px solid white !important;
    margin: 1px !important; 
  }

