<div class="row white default-padding-top default-content-padding-bottom 
default-content-padding-right default-content-padding-left">
  <form [formGroup]="umFormRegister" (ngSubmit)="startRegistration()">
    <div class="row default-padding-top">
      <div class="col s12 l6">
        <mz-input-container>
          <input mz-input [validate]="true" [formControl]="umFormRegister.controls['first_name']" id="first_name"
          i18n-label="@@first_name" label="First name" type="text">
        </mz-input-container>
      </div>

      <div class="col s12 l6">
        <mz-input-container>
          <input mz-input [validate]="true" [formControl]="umFormRegister.controls['last_name']" id="last_name"
          i18n-label="@@last_name" label="Last name" type="text">
        </mz-input-container>
      </div>
    </div>

    <div class="row default-padding-top">
      <div class="col s12 l6">
        <mz-input-container>
          <input mz-input [validate]="true" [formControl]="umFormRegister.controls['username']" id="username"
          i18n-label="@@username" label="Username" type="text">
        </mz-input-container>
      </div>
      <div class="col s12 l6">
        <mz-input-container>
          <input mz-input [validate]="true" [dataError]="[label_wrong_email]" [formControl]="umFormRegister.controls['email']" id="email"
          i18n-label="@@email" label="Email Address" type="email">
        </mz-input-container>
      </div>
    </div>

    <div class="row default-padding-top">
      <div class="col s12 l6">
        <mz-input-container>
          <input mz-input [validate]="true" [dataError]="[label_password_mismatch]"  [formControl]="umFormRegister.controls['password']" id="password"
          i18n-label="@@password" label="Password" type="password">
        </mz-input-container>
      </div>

      <div class="col s12 l6">
        <mz-input-container>
          <input mz-input [validate]="true" [dataError]="[label_password_mismatch]" [formControl]="umFormRegister.controls['confirm_password']"
            id="confirm_password" i18n-label="@@confirm_password" label="Confirm password" type="password">
        </mz-input-container>
      </div>
    </div>

    <div class="row default-padding-top">
      <div class="col s12 center" *ngIf="showProgress">
        <mz-spinner [color]="'blue'" [size]="'big'">
        </mz-spinner>
      </div>
      <div class="fixed-action-btn right default-margin-right">
        <button type="submit" mz-button class="orange darken-2" [disabled]="!formValidated" i18n="@@register">
          Register
        </button>
      </div>
    </div>
  </form>
</div>
