<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <service
            android:name=".domain.interop.UstadHttpOverIpcServer"
            android:exported="true">
            <intent-filter>
                <action android:name="oneroster"/>

            </intent-filter>
        </service>


    </application>
</manifest>