<div class="row white default-padding-top default-content-padding-bottom default-content-padding-right default-content-padding-left">
    
  <div *ngIf="showIframe" class="row">
      <div class="resp-container">
          <iframe class="resp-iframe" [src]="sanitizer.bypassSecurityTrustResourceUrl(urlToLoad)" allowfullscreen></iframe>
        </div> 
  </div>

  <div *ngIf="!showIframe" class="center empty-state-view grey-text">
      <i class="material-icons  large extra">open_in_new</i>
      <p class="title-label empty grey-text" i18n="@@new_tab">Displaying on new Tab</p>
    </div>
  </div>

 
  