body{
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    background-color: white;
}

.container-fluid{
    padding: 0 !important;
    border: 0 solid transparent;
    top: 0; bottom: 0; right: 0; left: 0;
}

#umEditor {
    position: absolute;
    top: 0; right: 0; left: 0;
    border: 0 solid transparent;
    background-color: white;
    padding:10px !important;
    width: 100vw;
    font-size: 1em;
}

p {
    margin: 4px 0 !important;
    width: 100%;
}

.extra-content{
    min-height: 40px;
}


.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.no-left-padding{
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.hide-element{
    display: none!important;
}

.show-element{
    display: block!important;
}

.um-labels{
    padding-top: 14px;
    padding-bottom: 2px;
    z-index: -200;
    color: #767676 !important;
    cursor: pointer;
    width: 100%;
    font-size: .8em;
    line-height: 1.4em;
}

.add-choice{
    color:white !important;
    padding: 8px 10px 8px 10px !important;
}

.select-option{
    border: 1px solid #ccc;
    margin-left: 16px;
    padding-left: 0;
    max-width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background: white;
}

.question-choice-answer{
    margin-left: 0 !important;
}


select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    font-size: 1em;
    background: transparent none;
    -webkit-appearance: none;
}

select,button :focus :active{
    outline: none;
}


.fill-the-blanks-input{
    font-size: 1em;
    line-height: 2em;
}

#mce-editor{
    margin: 2%;
}


/*data edit and data preview control classes*/
.preview-main{
    font-size: 1.12em;
    color: black;
}

.preview-support{
    font-size: 1em;
    color: #131313;
}

.preview-alert{
    font-size: 1em;
}

.default-margin-bottom{
    margin-bottom: 16px !important;
}

.default-margin-top{
    margin-top: 10px !important;
}

.default-padding{
    padding: 16px !important;
}
.default-padding-top{
    padding-top: 16px !important;
}

.default-padding-bottom{
    padding-bottom: 16px !important;
}

.question-choice-pointer{
    cursor: pointer;
    margin-top: -5px !important;
}

.question-choice-pointer:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.media-audio{
    max-height: 53px !important;
    margin: 10px 0 10px 0 !important;
    max-width: 100%;
}

img{
    margin: 10px 0 !important;
    background: transparent !important;
    max-width:100%;
    height:auto;
}


.selected-choice{
    background-color: black !important;
    color: white !important;
    font-size: 1.1em;
    font-weight: 300;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.selected-choice:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card{
    margin-bottom:16px;
}

.um-row{
    padding: 8px;
    display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;
}
button{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
}

button.qn-retry{
    margin-right: -25px !important;
}

button.extra-btn {
    color: white!important;
    background: #1565c0;
    border-radius: 3px;
    padding: 8px;
    margin-top: -1px;
    border:0 solid #1565c0;
    cursor: pointer
}


audio::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

.float-right{
    color: #212121 !important;
    padding: 2px;
    cursor: pointer;
    margin-left: 20px;
}

.action-delete-inner{
    margin-top: 16px !important;
}

video {
    object-fit: cover;
}





