body {
    column-width: 600px;
    -webkit-column-width: 600px;
    column-fill: auto;
    -webkit-column-fill: auto;
    height: 100%;
    width: auto;
}

img, video, audio {
    max-width: 95% !important;
    max-height: 95% !important;
}
