.selected-chip{
    background: rgb(114, 113, 113);
    color: black
}

.options{
    position:relative;
    Z-index: 1;
    cursor: pointer
}
h2 {
    font-size: 1.7em
}

.default-margin {
    margin: 2% !important;
  }